<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.lieryan.adbwidget"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/enabled">
        

		<receiver android:name=".ADBAppWidgetProvider" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider" 
		               android:resource="@xml/adb_appwidget_info" />
		</receiver>
		

	<receiver android:name="ADBUpdater"></receiver>

</application>


<uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"></uses-permission>
</manifest> 